.deck {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    min-height: 60rem;
    margin: 0 auto;
    align-content: stretch;
    align-items: stretch;
    flex: 0 auto;
}

@media (min-width: 1025px) {
    
    .deck {
        width: 80%;
    }

}