.deck {
    background-color: brown;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin: 0 auto;
    align-content: stretch;
    align-items: stretch;
    flex: 1;
    width: 80%;
    height: 100%;
}

@media (min-width: 1025px) {
    
    .deck {
        
    }

}