.entry-form-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.entry-form-card {
    box-shadow: 1px 0 8px #ddd;
    background-color: var(--card-color);
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.entry-form-row {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-input {
    outline: none !important;
    border: 2px solid var(--light-color);
    min-height: 3rem;
    padding-left: .25rem;
    width: 15rem; 
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.text-input:focus {
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--text-1-color);
    width: 20rem;
}

.btn-start {
    width: 20rem;
    font-size: 11pt;
    font-weight: 100;
    font-style: italic;
}

.alert-title {
    font-size: 1.2rem;
}