.spare-stack {
    width: 10%;
    min-height: 20rem;
    list-style-type: none;
    position: absolute;
    bottom: 5%;
    left: 2.5%;
}

.spare-stack:hover {
    box-shadow: 2px 0 12px var(--secondary-color);
}