.btn {
    background-color: #220;
    outline: none !important;
    color: var(--text-1-color);
    border-color: var(--secondary-color);
    padding: 1rem;
    transition: .2s all;
}
.btn:hover {
    background-color: var(--secondary-color);
    color: #220;
    border-color: #220;
}