:root {
  --primary-color: #50A6C2;
  --secondary-color: aqua;
  --highlight-color: orange;
  --text-color: white;
  --active-color: greenyellow;
  --inactive-color: gainsboro;
  --shadow-color: #444;
}

html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  background-color: var(--surface-50);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p, a {
  font-size: 1.8rem;
}

/*---------- SCROLLBAR STYLING ----------*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}

/*------- END OF SCROLLBAR STYLING -------*/